In [1]:
import os
import csv
import pandas as pd

csvpath = os.path.join("Resources","election_data.csv")

df = pd.read_csv(csvpath)
df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [10]:
numVotes = df['Voter ID'].count()
numKhan = df[df.Candidate == 'Khan'].count()
percKhan = numKhan / numVotes * 100
percKhan

Voter ID     63.000011
County       63.000011
Candidate    63.000011
dtype: float64

In [6]:
pd.DataFrame(
    {
        "Candidates": df['Candidate'].unique()
    })

  Candidates
0       Khan
1     Correy
2         Li
3   O'Tooley